body > header {
  font: 14px "Comic Sans", Helvetica, Arial, sans-serif;
  background-color: #162855;
  padding: 1rem;
}

 body > header a {
   text-decoration: none;
  color: white;
}

body > header a img {
  display: inline-block;
  width: 30px;
  height: 30px;
}

body > header a h1{
  display: inline-block;
  font-family: Lora, serif;
  font-weight: 700;
  color: white;
  font-size: 2rem;
  letter-spacing: -2px;
}
